/* Select all CSS */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header CSS */
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: rgb(1, 163, 144);
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
}

.logo {
  padding-left: 10px;
  width: 100px;
}

.nav-items {
  padding: 0 10px 0;
  width: auto;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 40px 10px 0 0;
  font-size: large;
  cursor: pointer;
}

/* Body CSS */
.search-container {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  position: relative;
}

.search-container .search-input {
  width: 40%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: #000000;
  outline: none;
}

.search-container .search-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0768b3;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.search-container .search-btn:hover {
  background-color: #016034;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  width: 100%;
  border-radius: 10px;
}

.card > span {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}

.card > span > h4 {
  font-size: medium;
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  background-color: rgb(19, 176, 1);
  border-radius: 5px;
  padding: 0 5px 0;
  color: white;
}

.card > span > h4:first-child .fa-star {
  font-size: small;
  padding: 0 10px 3px 0;
}

/* footer CSS */
.footer {
  margin: 10px;
  width: auto;
  text-align: center;
  background-color: rgb(1, 163, 144);
  padding: 20px 10px 20px;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footer > i {
  padding: 0 5px 0;
  font-size: smaller;
}

.fa-heart {
  color: darkred;
}

.footer > strong {
  padding-left: 5px;
}

.footer > strong > span {
  color: rgb(203, 54, 0);
}
