.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 25px 10px 5px 10px ;
}

.logo{
    width: 100px;
}