.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 25px 10px 5px 10px ;
}

.logo{
    width: 100px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img{
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}


.footer{
    display: flex;
    justify-content: center;
}
.footer > a{
    padding-left: 5px;
}